<!-- Loader -->
<div *ngIf="chargementEncours == true" class="spinner-wrapper">
  <div class="spinner">Loading...</div>
</div>
<!-- Loader -->

<div class="row" *ngIf="chargementEncours == false" >
  <div class="col">
    <button class="btn btn-success" title="Imprimer au format PDF" (click)="openPDF()"><i class="mdi mdi-file-pdf"></i></button>
  </div>
  <div class="col">
  <!-- Button trigger modal -->
  <button class="btn btn-primary"
  (click)="addPartenaire();openVerticalCenteredModal(verticalCenteredModal)"
  style="float: right;">Nouveau</button>
  <!-- Modal -->
  </div>
  </div>

  <div class="row mt-2" *ngIf="chargementEncours == false" >
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Liste des partenaires</h6>
          <div class="table-responsive" id="htmlData" >
            <table class="table" >
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Nom</th>
                  <th>Ville</th>
                  <th>Quartier</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data" >
                  <td>{{item.r_code}}</td>
                  <td>{{item.r_nom}}</td>
                  <td>{{(item.r_ville == 1)? 'Abidjan': 'Intérieur'}}</td>
                  <td>{{item.r_quartier}}</td>
                  <td *ngIf=" item.r_status == 0" ><span class="badge badge-pill badge-warning" style="width: 100%;" >Compté désactivé</span></td>
                  <td *ngIf=" item.r_status == 1" ><span class="badge badge-pill badge-success" style="width: 100%;" >Compté Activé</span></td>
                  <td>
                      <button (click)="openVerticalCenteredModal(verticalCenteredModal);action(item,'edit');" class="btn btn-primary btn-icon"><i class="feather icon-edit"></i></button>&nbsp;
                      <button (click)="openVerticalCenteredModal(verticalCenteredModal);action(item,'views');" class="btn btn-info btn-icon"><i class="feather icon-info"></i></button>&nbsp;
                      <button *ngIf="item.r_status == 0"
                              class="btn btn-success btn-icon"
                              title="Activer le compte du partenaire {{ item.r_nom }}"
                              (click)="activeDesactivePartenaire(item, 1)"
                               ><i class="feather icon-check"></i></button>&nbsp;
                      <button *ngIf="item.r_status == 1"
                      class="btn btn-warning btn-icon"
                      title="Désactiver le compte du partenaire {{ item.r_nom }}"
                      (click)="activeDesactivePartenaire(item, 0)"
                       ><i class="feather icon-slash"></i></button>&nbsp;
                       <button class="btn btn-danger btn-icon"><i class="feather icon-trash-2"></i></button>



                      <!-- <div class="btn-group" role="group" ngbDropdown>
                        <button id="btnGroupDrop1" type="button" ngbDropdownToggle class="btn btn-info">
                          Dropdown
                        </button>
                        <div ngbDropdownMenu aria-labelledby="btnGroupDrop1">
                          <a ngbDropdownItem href="" (click)="false">Dropdown link</a>
                          <a ngbDropdownItem href="" (click)="false">Dropdown link</a>
                        </div>
                      </div> -->

                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <ng-template #verticalCenteredModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
      <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="partenaireData">
        <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label">Nom </label>
                <input type="text" class="form-control"
                formControlName="p_nom" [(ngModel)]="details.r_nom" style="text-transform: uppercase;">
            </div>
        </div>

        <div class="form-group row">

          <div class="col-sm-6">
            <label class="col-form-label">Sélectionnez la ville </label>
            <select class="form-control"
                        aria-label=".form-select-lg example"
                        formControlName="p_ville" [(ngModel)]="selectedLevel" >
                  <option value="0" selected>---Sélectionnez la ville---</option>
                  <option value="{{ value.id }}"  *ngFor=" let value of villes " >{{ value.nom }}</option>
                </select>
          </div>
          <div class="col-sm-6">
            <label class="col-form-label">Quartier</label>
            <input type="text" class="form-control"
            formControlName="p_quartier" [(ngModel)]="details.r_quartier">
          </div>
        </div>


      <div class="form-group row">
        <div class="col-sm-12">
          <label class="col-form-label">Situation géographique</label>
            <textarea rows="1" cols="5" class="form-control" [(ngModel)]="details.r_situation_geo" formControlName="p_stua_geo" placeholder=""></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <label class="col-form-label">Description</label>
            <textarea rows="2" cols="5" class="form-control" [(ngModel)]="details.r_description" formControlName="p_description" placeholder=""></textarea>
        </div>
      </div>

    </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Fermer</button>
      <button type="button" class="btn btn-primary" (click)="resgister()">Enregistrer</button>
    </div>
  </ng-template>
