<!-- Loader -->
<div *ngIf="chargementEncours == true" class="spinner-wrapper">
  <div class="spinner">Loading...</div>
</div>
<!-- Loader -->
<div class="row" *ngIf="chargementEncours == false" >
  <div class="col-md-12">
  <!-- Button trigger modal -->
  <button class="btn btn-primary"
  (click)="openVerticalCenteredModal(verticalCenteredModal)"
  style="float: right;">Nouveau</button>
  <!-- Modal -->
  </div>
</div>

  <div class="row mt-2" *ngIf="chargementEncours == false" >
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Liste des catégories</h6>
          <div class="table-responsive">
            <table class="table" >
              <thead>
                <tr>
                  <th style="width: 40%;" >Libellé</th>
                  <th style="width: 45%;" >Description</th>
                  <th style="width: 15%; text-align: center;" >Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data" >
                  <td>{{item.r_libelle}}</td>
                  <td>{{item.r_description}}</td>
                  <td>
                      <button (click)="fc_details_categorie(item,1);openVerticalCenteredModal(verticalCenteredModal);" class="btn btn-primary btn-icon"><i class="feather icon-edit"></i></button>&nbsp;
                      <button (click)="fc_details_categorie(item,2);openVerticalCenteredModal(verticalCenteredModal);"
                             class="btn btn-info btn-icon"
                             ><i class="feather icon-info"></i></button>&nbsp;
                      <button class="btn btn-danger btn-icon"><i class="feather icon-trash-2"></i></button>

                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <ng-template #verticalCenteredModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
      <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="categorieData">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Libellé </label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                [(ngModel)]="detailsCategories.r_libelle"
                formControlName="r_libelle">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
              <textarea rows="5" cols="5" class="form-control" [(ngModel)]="detailsCategories.r_description" formControlName="p_description" placeholder=""></textarea>
          </div>
        </div>
    </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Fermer</button>
      <button type="button" class="btn btn-primary"  *ngIf=" registerBtnStatus " (click)="resgister()">Enregistrer</button>
    </div>
  </ng-template>
