<!-- Loader -->
<div *ngIf="chargementEncours == true" class="spinner-wrapper">
  <div class="spinner">Loading...</div>
</div>
<!-- Loader -->




<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin" *ngIf="chargementEncours == false">
  <div>
    <h4 class="mb-3 mb-md-0">Tableau de bords</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <div class="input-group dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex">
      <div class="input-group-prepend">
        <button class="btn btn-outline-primary btn-icon calendar" type="button">
          <i data-feather="calendar" appFeatherIcon></i>
        </button>
      </div>
      <input readonly class="form-control" placeholder="yyyy-mm-dd"
          name="dp" [(ngModel)]="currentDate" ngbDatepicker #d="ngbDatepicker">
    </div>
    <!-- <button type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block">
      <i class="btn-icon-prepend" data-feather="download" appFeatherIcon></i>
      Import
    </button>
    <button type="button" class="btn btn-outline-primary btn-icon-text mr-2 mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="printer" appFeatherIcon></i>
      Print
    </button>
    <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="download-cloud" appFeatherIcon></i>
      Download Report
    </button> -->
  </div>
</div>

<div class="row" *ngIf="chargementEncours == false">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow">
      <div class="col grid-margin stretch-card dash" >
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h3 class="mb-0">Vente du jour</h3>
            </div>
            <div class="row mt-2">
              <div class="col-3">
                <div class="d-flex align-items-baseline">
                  <img src="assets/dash/salary.png" class="img-responsive">
                </div>
              </div>
              <div class="col-9" style="text-align: right;" >
                <h3 class="mb-2">{{ recetteJr | mask: 'separator':' ' }} fcfa</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col grid-margin stretch-card dash">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h3 class=" mb-0">Montant à relancer</h3>
            </div>
            <div class="row mt-2">
              <div class="col-3">
                <div class="d-flex align-items-baseline">
                  <img src="assets/dash/refund.png" class="img-responsive">
                </div>
              </div>
              <div class="col-9">
                <h3 class="mb-2">{{ recetteJrRestant | mask: 'separator':' '}} fcfa</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col grid-margin stretch-card dash">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h3 class="mb-0">Recette du mois</h3>
            </div>
            <div class="row mt-2">
              <div class="col-3">
                <div class="d-flex align-items-baseline">
                  <img src="assets/dash/money-bag.png" class="img-responsive">
                </div>
              </div>
              <div class="col-9">
                <h3 class="mb-2">{{ recetteMois | mask: 'separator':' '}} fcfa</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col grid-margin stretch-card dash">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h3 class="mb-0">Total facture à relancer</h3>
            </div>
            <div class="row mt-2">
              <div class="col-3">
                <div class="d-flex align-items-baseline">
                  <img src="assets/dash/the-sum-of.png" class="img-responsive">
                </div>
              </div>
              <div class="col-9">
                <h3 class="mb-2">{{ dashData.nbre_facture_a_relancer }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



</div> <!-- row -->


<div class="row" *ngIf="chargementEncours == false">
  <div class="col-lg-8 stretch-card">
    <div class="card">
      <div class="card-body">
        <h3 class="">Graphe des meilleures ventes</h3>

        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [colors]="barChartColors"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>

      </div>
    </div>
  </div>
  <div class="col-lg-4 grid-margin stretch-card">
    <div class="card" style="background-color: rgb(172, 224, 226);">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline">
          <h3 class=" mb-0">Top 5 produits du jour</h3>
        </div>

        <div class="table-responsive">
          <table class="table" >
            <thead>
              <tr>
                <th style="width: 65%;" >Produits</th>
                <th style="width: 35%;">total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produits of topProduitMois" >
                <td>{{produits.name}}</td>
                <td >{{produits.value| mask: 'separator':' '}} fcfa</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
