<div class="row" >
  <div class="col-md-12">
  <!-- Button trigger modal -->
  <button class="btn btn-primary"
  (click)="openVerticalCenteredModal(verticalCenteredModal);addProfil()"
  style="float: right;">Nouveau</button>
  <!-- Modal -->
  </div>
  </div>

  <div class="row mt-2" >
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Liste des utiliateurs</h6>
          <div class="table-responsive">
            <table class="table" >
              <thead>
                <tr>
                  <th style="width: 30%" >Libellé</th>
                  <th style="width: 55%" >Description</th>
                  <th style="width: 15%; text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data" >
                  <td>{{item.r_libelle}}</td>
                  <td>{{item.r_description}}</td>
                  <td>
                      <button (click)="openVerticalCenteredModal(verticalCenteredModal);action(item,'edit');" class="btn btn-primary btn-icon"><i class="feather icon-edit"></i></button>&nbsp;
                      <button (click)="openVerticalCenteredModal(verticalCenteredModal);action(item,'views');" class="btn btn-info btn-icon"><i class="feather icon-info"></i></button>&nbsp;
                      <button class="btn btn-danger btn-icon"><i class="feather icon-trash-2"></i></button>

                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>




  <ng-template #verticalCenteredModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
      <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="profilUtilisateurData">
        <div class="form-group row">

            <div class="col-sm-12">
              <label class="">Libellé </label>
                <input type="text" class="form-control"
                formControlName="r_libelle" [(ngModel)]="details.r_libelle">
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <label class="">Description</label>
              <textarea rows="5" cols="5" class="form-control" formControlName="p_description" placeholder="" [(ngModel)]="details.r_description"></textarea>
          </div>
        </div>

    </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Fermer</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('by: save button')" [hidden]="registerBtnEtat" (click)="resgister()">Enregistrer</button>
    </div>
  </ng-template>
