<div class="page-body">
  <!--profile cover start-->
  <div class="row">
    <div class="col-lg-12">
      <div class="cover-profile">
        <div class="profile-bg-img">
          <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img1.jpg" alt="bg-img">
          <div class="card-block user-info">
            <div class="col-md-12">
              <div class="media-left">
                <a href="javascript:" class="profile-image">
                  <img class="user-img img-radius" src="assets/images/user-profile/user-img.jpg" alt="user-img">
                </a>
              </div>
              <div class="media-body row">
                <div class="col-lg-12">
                  <div class="user-title">
                    <h2>{{ userInfos.r_nom }} {{ userInfos.r_prenoms }}</h2>
                    <span class="text-white">Web designer</span>
                  </div>
                </div>
                <div>
                  <div class="pull-right cover-btn">
                    <button type="button" class="btn btn-primary m-r-10 m-b-5 ripple light"><i class="icofont icofont-plus"></i> Follow</button>
                    <button type="button" class="btn btn-primary ripple light"><i class="icofont icofont-ui-messaging"></i> Message</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--profile cover end-->
  <div class="row">
    <div class="col-lg-12">
      <div class="md-tabs md-card-tabs">
        <ngb-tabset>
          <ngb-tab title="Information personnel">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <!-- personal card start -->
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-header-text">Mes infos</h5>
                    <button id="edit-btn" type="button" class="btn btn-sm btn-primary pull-right ripple light">
                      <i class="icofont"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    
                  </div>
                  <!-- end of card-body -->
                </div>
                <!-- personal card end-->
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Mes contacts">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-header-text">About Me</h5>
                    <button id="edit-btn" type="button" class="btn btn-sm btn-primary pull-right ripple light">
                      <i class="icofont"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    
                  </div>
                  <!-- end of card-body -->
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Mes activités">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-header-text">About Me</h5>
                    <button id="edit-btn" type="button" class="btn btn-sm btn-primary pull-right ripple light">
                      <i class="icofont"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    
                  </div>
                  <!-- end of card-body -->
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
