<div class="row">

  <div class="col-lg-3" *ngIf="userInfos.r_profil == 4" >
    <div class="form-group ml-2" >
      <select class="form-control"
              aria-label=".form-select-lg example"
              (change)="selectPartenaire();" [(ngModel)]="selectedLevel" [ngModelOptions]="{standalone: true}" >
        <option value="0" selected>---Sélectionnez le partenaire---</option>
        <option value="{{ value.r_i }}"  *ngFor=" let value of partenaires " >{{ value.r_nom }}</option>
      </select>
    </div>
  </div>

  <div class="col-lg-3" >
    <select class="form-control"
            aria-label=".form-select-lg example"
            [(ngModel)]="selectedMode" (change)="affichtable()" >
      <option value="0" selected>---Sélectionner le mode de consultation---</option>
      <option value="{{ i }}"  *ngFor=" let value of modeConsult; let i = index " >{{ value }}</option>
    </select>
  </div>

  <div class="col">
    <form class="form-inline range-selection">
      <div class="form-group hidden">
        <div class="input-group">
          <input name="datepicker"
                class="form-control"
                ngbDatepicker
                #datepicker="ngbDatepicker"
                [autoClose]="'outside'"
                (dateSelect)="onDateSelection($event)"
                [displayMonths]="2"
                [dayTemplate]="t"
                outsideDays="hidden"
                [startDate]="fromDate!">
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group" (click)="datepicker.toggle()">
          <input #dpFromDate
                class="form-control" placeholder="yyyy-mm-dd"
                name="dpFromDate"
                [value]="formatter.format(fromDate)"
                (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-light btn-icon" type="button">
              <i data-feather="calendar" appFeatherIcon class="text-secondary"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group ml-2">
        <div class="input-group" (click)="datepicker.toggle()">
          <input #dpToDate
                class="form-control" placeholder="yyyy-mm-dd"
                name="dpToDate"
                [value]="formatter.format(toDate)"
                (input)="toDate = validateInput(toDate, dpToDate.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-light btn-icon" type="button">
              <i data-feather="calendar" appFeatherIcon class="text-secondary"></i>
            </button>
          </div>
        </div>
      </div>
    
    </form>
  </div>

</div>





<div class="clearfix" >&nbsp;</div>

<!-- Loader -->
<div *ngIf="chargementEncours == true" class="spinner-wrapper">
  <div class="spinner">Loading...</div>
</div>
<!-- Loader -->

<div [ngSwitch]="dataRetour" *ngIf="chargementEncours == false" >
  <div *ngSwitchCase = 0 >

    <div class="card" >
      <div class="card-body text-center" >
        <h1 style="color: red;">Pas de données</h1>
      </div>
    </div>

  </div>

  <div *ngSwitchCase = 1 >

    <div class="row mt-2">
      <!-- Liste des produits vendus -->
      <div class="col-md-12 stretch-card">
        <div class="card">
          <div class="card-body">

            <div [ngSwitch]="afficheTable" >
              <!-- Liste des ventes par regroupement -->
              <div *ngSwitchCase="1">

                <div class="row">

                  <div class="col-lg-7">
                    <h6 class="card-title">Liste des produits vendus par regroupement</h6>
                    <div class="table-responsive">
                      <table class="table" >
                        <thead>
                          <tr>
                            <th>Produits</th>
                            <th>Quantité</th>
                            <th>Monatnt</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of data" >
                            <td>{{item.r_libelle}}</td>
                            <td>{{item.totalVendu}}</td>
                            <td>{{item.r_total | mask: 'separator':' '}} fcfa</td>
                            <td>
                                <div class="btn-group" role="group" ngbDropdown>
                                  <button id="btnGroupDrop1" type="button" ngbDropdownToggle class="btn btn-info">
                                    Action
                                  </button>
                                  <div ngbDropdownMenu aria-labelledby="btnGroupDrop1">
                                    <a ngbDropdownItem (click)="voirLesVentes(item)">Voir les ventes</a>
                                  </div>
                                </div>

                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>

                  <!-- Détails des produits vendus -->
                <div class="col-lg-5 stretch-card" style="background-color: khaki; border-radius: 5px;">
                  <div class="perfect-scrollbar-example p-4" [perfectScrollbar]>
                    <div class="table-responsive">
                      <table class="table" >
                        <thead>
                          <tr>
                            <th>N Récu</th>
                            <th>Vendu le</th>
                            <th>Produits</th>
                            <th>Quantité</th>
                            <th>Montant</th>
                            <th>Client</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of dataventeProdut" >
                            <td>{{item.r_num}}</td>
                            <td>{{item.created_at | date: 'dd/MM/yyyy à hh:mm:ss'}}</td>
                            <td>{{item.r_libelle}}</td>
                            <td>{{item.r_quantite}}</td>
                            <td>{{item.r_total | mask: 'separator':' '}} fcfa</td>
                            <td>{{item.r_nom}} {{item.r_prenoms}}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>

                </div>

              </div>

              <div  *ngSwitchDefault>
                

                <div class="col-lg-12">
                  <h6 class="card-title">Liste des produits vendus</h6>
                  <div class="table-responsive">
                    <table class="table" >
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Produit</th>
                          <th>Montant</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of data" >
                          <td>{{item.created_at | date: 'dd-MM-yyyy à hh:mm:ss' }}</td>
                          <td>{{item.r_libelle}}</td>
                          <td>{{item.r_total | mask: 'separator':' '}} fcfa</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>

            </div>
              

          </div>
        </div>
      </div>

    </div>


    </div>
</div>
