.modal {
  animation-name: modal-animation;
  animation-duration: 0.3s;
  .modal-dialog {
    .modal-header {
      .close {
        margin: 0;
        padding: 0;
      }
    }
  }
}

@keyframes modal-animation {
  0%   {transform: scale(0.9)}
  100% {transform: scale(1)}
}

.rtl {
  .modal-footer {
    // Easily place margin between footer elements
    > :not(:last-child) { margin-left: .25rem; }
  }
}