<ng-template [ngIf]=" saisieVente === true " >
  <div class="row">
    <div class="col-md-12">
      <button style="float: right;"
                  title="Ajouter un nouveau produit"
                  type="button" class="btn btn-primary btn-round"
                  id="btnVentes"
                  (click)="viewsVentes()">Liste des ventes
          </button>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <h6 class="card-title">Saisie de ventes</h6>

      <aw-wizard #wizardForm>
        <aw-wizard-step stepTitle="Produits">


          <div class="row mt-2" >
            <div class="col-md-8 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Liste des produits</h6>
                  <div class="table-responsive">
                    <table class="table" >
                      <thead>
                        <tr>
                          <th style="width: 10%;" >Choix</th>
                          <th style="width: 25%;" >Libellé</th>
                          <th style="width: 15%;">Stock</th>
                          <th style="width: 15%;">Prix Unitaire</th>
                          <th style="width: 10%;">Quantité</th>
                          <th style="width: 20%;">Total</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of dataProduits; let i = index" >
                          <td><div class="form-check form-check-inline">
                            <label class="form-check-label">
                              <input #choix type="checkbox" class="form-check-input" (change)="isCheck(choix.checked, item, i)" [id]="'checkbox1'+i">
                              <i class="input-frame"></i>
                            </label>
                          </div></td>
                          <td>{{item.r_libelle}}</td>
                          <td>{{item.r_stock}}</td>
                          <td><b>{{item.r_prix_vente}}</b></td>
                          <td>
                            <input #QteSelect type="number" [disabled]="true" [id]="'qte-'+i" min="0" [value]="0" (change)="choixqteProduit(QteSelect, i, item)" class="form-control" placeholder="">
                          </td>
                          <td>
                            <input type="number" data-a-sign="fcfa" value="0" [id]="'produit-'+i" disabled class="form-control" placeholder="">
                          </td>

                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- Sélection des prouits -->
          <div class="col-md-4">
            <div class="card feed-card" style="background-color: rgb(172, 224, 226);">
              <div class="card-header">
                  <h4>Sélections ( {{ choixProduits.length }} )</h4>
              </div>
              <div class="card-block">
                  <div class="row m-1" *ngFor="let produitAjoute of choixProduits || choixProduitsFinal" >
                    <h5 class="m-b-1">{{ produitAjoute.r_libelle }}</h5>&nbsp;
                    <p class="text-c-red m-b-0">{{ produitAjoute.p_quantite }} x {{ produitAjoute.r_prix_vente }} = {{ produitAjoute.p_total }}</p>
                  </div>

                  <div class="text-center">
                      <h4 class="text-c-red"  >{{ sommes || 'Panier vide' }}</h4>
                  </div>
                  <hr>

                  <!-- Rémise & paiement partiel -->
                  <div class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input #remise type="radio" class="form-check-input" (change)="isCheckRemise(remise.checked)" name="optionsRadios" id="optionsRadios" value="option1" checked="">
                        <i class="input-frame"></i>
                        Remise
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input #paiement type="radio" class="form-check-input" (change)="isCheckPaiement(paiement.checked)" name="optionsRadios" id="optionsRadios1" value="option1">
                        <i class="input-frame"></i>
                        Paiement partiel
                      </label>
                    </div>
                  </div>



                  <hr>

                  <ng-template [ngIf]=" InputPaiementPartiel === true " >
                    <div class="form-row" >
                      <div class="col-md-12" >
                        <label class="col-form-label">Montant </label>
                        <input #paiementPartielMnt (keyup)="valMntPartiel()" class="form-control text-danger" type="text" placeholder="Ex: 150 000">
                      </div>
                    </div>
                  </ng-template >

                  <ng-template [ngIf]=" InputPaiementPartiel === false ">
                    <table class="table" >
                      <div class="form-group">
                        <div class="form-check">
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" (change)="etatInputRemise()" name="optionsRadios" id="optionsRadios" value="option1" checked="">
                                  <i class="input-frame"></i>
                                  Remise
                                </label>
                              </div>
                            </td>
                            <td>
                              <input #remise1 (keyup)="valReduction(1,remise1)" [disabled]="remise1Input" class="form-control text-danger" id="" placeholder="Ex: 15" suffix=" %" mask="000">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" (change)="etatInputRemise()" name="optionsRadios" id="optionsRadios" value="option1" checked="">
                                  <i class="input-frame"></i>
                                  Réduction de
                                </label>
                              </div>
                            </td>
                            <td>
                              <input #remise2 (keyup)="valReduction(2,remise2)" [disabled]="remise2Input" class="form-control text-danger" placeholder="Ex: 15 000 fcfa" suffix=" fcfa" mask="separator">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" (change)="etatInputRemise()" name="optionsRadios" id="optionsRadios" value="option1" checked="">
                                <i class="input-frame"></i>
                                Nouveau Total
                              </label>
                            </div>
                          </td>
                            <td>
                              <input #remise3 (keyup)="valReduction(3,remise3)" [disabled]="remise3Input" class="form-control text-danger" placeholder="Ex: 150 000" suffix=" fcfa" mask="separator">
                            </td>
                          </tr>
                        </div>
                      </div>
                  </table>

                  <div class="text-center">
                    <input class="form-control" [(ngModel)]="MntRemise" suffix=" fcfa" mask="separator"  >
                  </div>

                  </ng-template>



              </div>
            </div>
          </div>

          </div>


          <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-primary" type="button" (click)="step1()" >Continue</button>
          </div>
        </aw-wizard-step>

        <aw-wizard-step stepTitle="Infos client">


          <form [formGroup]="infosClient">
            <div class="form-group row">

                <div class="col-sm-4">
                  <label class="col-form-label styleInput" >Type de client </label>
                  <select class="form-control" aria-label=".form-select-lg example" formControlName="p_type_person" >
                    <option selected>---Sélectionnez---</option>
                    <option value="1">Personne physique</option>
                    <option value="2">Personne morale</option>
                  </select>
                   <span class="messages"></span>
                </div>

                <div class="col-sm-4">
                  <label class="col-form-label styleInput" >Nom </label>
                    <input type="text" class="form-control" formControlName="p_nom" placeholder="">
                    <span class="messages"></span>
                </div>

                <div class="col-sm-4">
                  <label class="col-form-label styleInput" >Prenoms </label>
                    <input type="text" class="form-control" formControlName="p_prenoms" placeholder="">
                    <span class="messages"></span>
                </div>
            </div>

            <div class="form-group row">

              <div class="col-sm-4">
                <label class="col-form-label styleInput" >Numéro de téléphone 1 </label>
                  <input type="text" placeholder="00-00-00-00-00" class="form-control" formControlName="p_phone">
                  <span class="messages"></span>
              </div>

              <div class="col-sm-4">
                <label class="col-form-label styleInput" >Numéro de téléphone 2 </label>
                  <input type="text" class="form-control" formControlName="p_phone2" placeholder="00-00-00-00-00">
                  <span class="messages"></span>
              </div>

              <div class="col-sm-4">
                <label class="col-form-label styleInput" >Adresse email </label>
                  <input type="text" class="form-control" formControlName="p_email"  placeholder="">
                  <span class="messages"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <label class="col-form-label styleInput">Description</label>
                  <textarea rows="5" cols="5" class="form-control" formControlName="p_description" placeholder=""></textarea>
              </div>
            </div>
        </form>


          <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-light mr-2" type="button" awPreviousStep>Précédent</button>
            <button class="btn btn-primary" type="button" (click)="step1()" >Suivant</button>
          </div>
        </aw-wizard-step>

        <aw-wizard-step stepTitle="Récapitulatif">
          <div class="text-center">

            <div class="col-xl-3 col-md-6">
              <div class="card feed-card">
                <div class="card-header">
                    <h4>Sélections ( {{ choixProduits.length }} )</h4>
                </div>
                <div class="card-block">
                    <div class="row m-1" *ngFor="let produitAjoute of choixProduits || choixProduitsFinal" >
                      <h5 class="m-b-1">{{ produitAjoute.r_libelle }}</h5>&nbsp;
                      <p class="text-c-red m-b-0">{{ produitAjoute.p_quantite }} x {{ produitAjoute.r_prix_vente }} = {{ produitAjoute.p_total }}</p>
                    </div>

                    <div class="text-center">
                        <h4 class="text-c-red"  >{{ sommes || 'Panier vide' }}</h4>
                    </div>

                </div>
              </div>
            </div>

          </div>
          <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-light mr-2" type="button" awPreviousStep>Précédent</button>
            <button class="btn btn-success" type="button" (click)="registerVente()">Terminer
              <ng-template [ngIf]=" spinner == true" >
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              </ng-template>
            </button>
          </div>
        </aw-wizard-step>
      </aw-wizard>

    </div>
  </div>
</ng-template>



<!-- Loader -->
<div *ngIf="chargementEncours == true" class="spinner-wrapper">
  <div class="spinner">Loading...</div>
</div>
<!-- Loader -->

<div class="row" *ngIf="afficheVente === true && chargementEncours == false">

  <div class="col" *ngIf="userInfos.r_profil == 4" >
    <select class="form-control"
            aria-label=".form-select-lg example"
            (change)="selectProduitPartenaire();" [(ngModel)]="selectedLevel" >
      <option value="0" selected>---Sélectionnez le partenaire---</option>
      <option value="{{ value.r_i }}"  *ngFor=" let value of partenaires " >{{ value.r_nom }}</option>
    </select>
  </div>

  <div class="col">
    <button style="float: right;"
                title="Ajouter un nouveau produit"
                type="button" class="btn btn-primary btn-round"
                id="btnVentes"
                (click)="saisieVentes()">Effectuer une vente
        </button>
  </div>

</div>

<!-- Liste des ventes -->
<div class="mt-2" [ngSwitch]="dataRetour" *ngIf=" afficheVente === true && chargementEncours == false " >
  <div *ngSwitchCase = 0 >

    <div class="card" >
      <div class="card-body text-center" >
        <h1 style="color: red;">{{ data }}</h1>
      </div>
    </div>

  </div>

  <div *ngSwitchCase = 1 >

    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Ventes du jour</h6>
        <div class="table-responsive">
          <table class="table" >
            <thead>
              <tr>
                <th style="width: 20%;" >Date</th>
                <th style="width: 20%;" >Numéro de facture</th>
                <th style="width: 20%;">Montant total</th>
                <th style="width: 20%;">Status</th>
                <th style="width: 20%; text-align: center;">Actions</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index" >
                <td>{{item.created_at | date: 'dd/MM/yyyy à hh:mm:ss' }}</td>
                <td>{{item.r_num}}</td>
                <td><b>{{item.r_mnt}}</b></td>
                <td *ngIf = " item.r_status == 0 " ><span class="badge badge-pill badge-danger" style="width: 100%;" >Non soldée</span></td>
                  <td *ngIf = " item.r_status == 1 " ><span class="badge badge-pill badge-success" style="width: 100%;" >Soldée</span></td>

                  <td >
                    <button  class="btn btn-primary btn-icon" (click)="detailsVente(item,'edit');openVerticalCenteredModal(verticalCenteredModal)"><i class="feather icon-edit"></i></button>&nbsp;
                    <button  class="btn btn-info btn-icon" (click)="detailsVente(item,'views');openVerticalCenteredModal(verticalCenteredModal);" ><i class="feather icon-eye"></i></button>&nbsp;
                    <button class="btn btn-danger btn-icon "><i class="feather icon-trash"></i></button>
                </td>

              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>


<!-- Modal -->
<ng-template #verticalCenteredModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
    <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="card">
      <div class="card-body">

        <ul ngbNav #nav="ngbNav" class="nav-tabs">

          <li ngbNavItem>
            <a ngbNavLink>Signalitique du client</a>
            <ng-template ngbNavContent>
              <form [formGroup]="formDetailsfacture" >

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Nom </label>
                          <input type="text" class="form-control" formControlName="p_nom" [(ngModel)]="detailsFacture.r_nom" >
                          <span class="messages"></span>
                      </div>

                      <div class="col-sm-6">
                        <label class="col-form-label">Prenoms </label>
                          <input type="text" class="form-control" formControlName="p_prenoms" [(ngModel)]="detailsFacture.r_prenoms" >
                          <span class="messages"></span>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <label class="col-form-label">Numéro de téléphone </label>
                          <input type="text" class="form-control" formControlName="p_phone" [(ngModel)]="detailsFacture.r_phone" >
                          <span class="messages"></span>
                      </div>

                      <div class="col-sm-6">
                        <label class="col-form-label">Adresse email </label>
                          <input type="text" class="form-control" formControlName="p_email" [(ngModel)]="detailsFacture.r_email" >
                          <span class="messages"></span>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label class="col-form-label">Description </label>
                          <textarea  class="form-control" id="" rows="3" formControlName="p_description" [(ngModel)]="detailsFacture.r_description"></textarea>
                      </div>
                    </div>

              </form>
            </ng-template>
          </li>

          <li ngbNavItem>
            <a ngbNavLink>Détails des ventes</a>
            <ng-template ngbNavContent>
              <div class="table-responsive">
              <table class="table" >
                <thead>
                  <tr>

                    <th >N° facture</th>
                    <th >Article</th>
                    <th style="width: 15%;" >Quantité</th>
                    <th >PU</th>
                    <th >Montant</th>
                    <th>Actions</th>

                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let item of ligneVentes; let i = index">

                        <td>{{item.r_num}}</td>
                        <td>
                          <select class="form-control" disabled [id]="'updatelibprod-'+item.r_i"
                          aria-label=".form-select-lg example"
                          (change)="selectProduits(dataProduits,ligneVentes[i].r_produit,item.r_i,ligneVentes);" [(ngModel)]="ligneVentes[i].r_produit" >
                            <option value="{{ value.r_i }}"  *ngFor=" let value of dataProduits " >{{ value.r_libelle }}</option>
                          </select>
                        </td>
                        <td> <input #qteUpdate type="number" disabled class="form-control" (change)="updtaQteVendu(qteUpdate, item.r_i)" [id]="'updateqte-'+item.r_i" ngModel='{{item.r_quantite}}' > </td>
                        <td [id]="'updatePU-'+ item.r_i" >{{item.r_prix_vente}}</td>
                        <td [id]="'updatetotal-'+ item.r_i" >{{item.r_total}}</td>
                        <td>
                        <button  class="btn btn-primary btn-icon" (click)="update(item.r_i)" ><i class="feather icon-edit"></i></button>&nbsp;
<!--                         <button class="btn btn-danger btn-icon "><i class="feather icon-trash"></i></button>
 -->                    </td>

                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>

              </div>


              <ng-template [ngIf]="modifCmd" >
                <div class="row card-block" style="text-align: center;">
                  <div class="col-md-12 col-lg-6">
                      <h4 class="sub-title text-center">Montant payé</h4>
                      <h4 class="text-primary text-center" >{{ ( ligneVentes[0].mnt_paye == null )? detailsFacture.r_mnt + this.devise : +ligneVentes[0].mnt_paye + this.devise || 'Facture soldé' }}</h4>
                  </div>
                  <div class="col-md-12 col-lg-6">
                       <h4 class="sub-title text-center">Montant restant</h4>
                       <h4 class="text-danger text-center">{{ ( ligneVentes[0].mnt_paye == null )? 0 + this.devise : detailsFacture.r_mnt - +ligneVentes[0].mnt_paye + this.devise}}</h4>
                  </div>
                </div>
                <!-- Formulaire de saisir pour solder la facture -->
                <div class="form-group row" *ngIf=" ligneVentes[0].r_status === 0 " >
                  <div class="col-md-8">
                    <label class="col-form-label">Montant à solder </label>
                      <input #mntRgl type="text" class="form-control"
                              [value]="detailsFacture.r_mnt - +ligneVentes[0].mnt_paye">
                  </div>

                  <div class="col-md-4">
                    <label class="col-form-label text-white">Montant à solder </label>
                    <button class="btn btn-primary btn-block" (click)="reglemntPartiel(mntRgl.value)" >Valider</button>
                  </div>
                </div>
              </ng-template>



            </ng-template>
          </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Fermer</button>
    <button type="button" class="btn btn-primary">Enregistrer</button>
  </div>
</ng-template>
