<!-- Loader -->
<div *ngIf="chargementEncours == true" class="spinner-wrapper">
  <div class="spinner">Loading...</div>
</div>
<!-- Loader -->


  <div class="row mt-2" *ngIf="chargementEncours == false" >

    <div class="col mb-2">
      <div class="row" >

        <div class="col" *ngIf=" this.userInfos.r_profil == 4" >
          <select class="form-control"
                (change)="selectProduitPartenaire();" [(ngModel)]="selectedLevel" >
                <option value="0">---Sélectionnez le partenaire---</option>
                <option value="{{ value.r_i }}"  *ngFor=" let value of partenaires " >{{ value.r_nom }}</option>
          </select>
        </div>


        <div class="col">
          <button class="btn btn-danger btn-icon " title="Imprimer la liste des produits" (click)="generatePdf();" ><i class="mdi mdi-file-pdf"></i></button>
          <!-- Button trigger modal -->
          <button class="btn btn-primary"
          (click)="fc_add_produit();openVerticalCenteredModal(verticalCenteredModal)"
          style="float: right;">Nouveau</button>
          <!-- Modal -->
        </div>
      </div>
      <!-- Recherche -->
      <div class="row mt-2" *ngIf="chargementEncours == false">
        <div class="col-lg-12">
          <input type="text" class="form-control" name="card-holder-name"  placeholder="Rechercher un produit" [(ngModel)]="r_libelle" (ngModelChange)="Search()">      
        </div>
      </div>
    </div>
    


    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Liste des produits</h6>
          
          <div class="table-responsive">
            <table class="table" >
              <thead>
                <tr>
                  <th style="width: 50%;" >Libellé</th>
                  <th style="width: 20%;">Stock</th>
                  <th style="width: 15%;">Prix Unitaire</th>
                  <th style="width: 15%; text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data" >
                  <td>{{item.r_libelle}}</td>
                  <td>{{item.r_stock}}
                    <button style="float: right;" (click)="ajoutStock(item)" title="Augmenter le stock" class="btn btn-outline-info btn-icon"><i class="feather icon-plus"></i></button>
                  </td>
                  <td><b>{{item.r_prix_vente | mask: 'separator':' '}} fcfa</b></td>
                  <td>
                      <button (click)="fc_details_produit(item, 1);openVerticalCenteredModal(verticalCenteredModal);" class="btn btn-primary btn-icon"><i class="feather icon-edit"></i></button>&nbsp;
                      <button (click)="fc_details_produit(item, 2);openVerticalCenteredModal(verticalCenteredModal);" class="btn btn-info btn-icon"><i class="feather icon-info"></i></button>&nbsp;
                      <button class="btn btn-danger btn-icon"><i class="feather icon-trash-2"></i></button>

                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>



  <ng-template #verticalCenteredModal let-modal>
    <div class="modal-header">
      <h3 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h3>
      <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="produitData" id="myForm" >
        <div class="form-group row" >

          <ng-template [ngIf]="userInfos.r_profil == 4" >
            <div class="col-sm-6" >
              <label class="col-form-label styleInput" >Partenaire</label>
              <select class="form-control" aria-label=".form-select-lg example" [(ngModel)]="detailsProduit.r_partenaire" formControlName="p_partenaire">
                <option value="0" selected>---Sélectionnez le partenaire---</option>
                <option value="{{ value.r_i }}"  *ngFor=" let value of partenaires " >{{ value.r_nom }}</option>
              </select>
               <span class="messages"></span>
            </div>
          </ng-template>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label class="col-form-label styleInput" >Catégorie</label>
            <select class="form-control" aria-label=".form-select-lg example" [(ngModel)]="detailsProduit.r_categorie" formControlName="p_categorie">
              <option value="0" selected>---Sélectionnez la catégorie---</option>
              <option value="{{ value.r_i }}"  *ngFor=" let value of categories " >{{ value.r_libelle }}</option>
            </select>
           </div>
            <div class="col-sm-6">
              <label class="col-form-label">Libellé </label>
                <input type="text" class="form-control" [(ngModel)]="detailsProduit.r_libelle" formControlName="r_libelle" placeholder="">
            </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label class="col-form-label">Stock produit</label>
              <input type="number" min="1" [readonly]="desacStock" class="form-control" [(ngModel)]="detailsProduit.r_stock" formControlName="p_stock" placeholder="">
              <span class="messages"></span>
          </div>
          <div class="col-sm-6">
            <label class="col-form-label">Prix de vente</label>
              <input type="text" min="1" class="form-control" [(ngModel)]="detailsProduit.r_prix_vente" suffix=" fcfa" mask="separator" formControlName="p_prix_vente" placeholder="">
              <span class="messages"></span>
          </div>
      </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label class="col-sm-2 col-form-label">Description</label>
              <textarea rows="5" cols="5" class="form-control" [(ngModel)]="detailsProduit.r_description" formControlName="p_description" placeholder=""></textarea>
          </div>
        </div>
    </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Fermer</button>
      <button type="button" class="btn btn-primary" *ngIf=" registerBtnStatus " (click)="resgister()">Enregistrer</button>
    </div>
  </ng-template>
