<!-- Liste des ventes -->
<ng-template [ngIf]="data" >
  <app-card [title]="'Liste des clients'">
    <div class="dt-responsive">
    
      <div class="row mb-2" >
        <div class="col" >
          <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button>
        </div>
      </div>
    
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
          <div>
            <label class="label-control">Voir
              <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                <option [ngValue]="02">02</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
              </select>
              ligne(s)
            </label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div style="text-align: right;">
            <label>
              <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Recherche par le nom">
            </label>
          </div>
        </div>
      </div>
    
      <div class="row" >
        
        <div class="col-md-12" >
          <div class="table-responsive">
            <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
              <tr>
                <th style="width: 25%;">
                  <mfDefaultSorter  by="name">Date de création</mfDefaultSorter>
                </th>
                <th style="width: 7%;">
                  <mfDefaultSorter  by="position">Type de client</mfDefaultSorter>
                </th>
                <th style="width: 7%;">
                  <mfDefaultSorter  by="position">Nom</mfDefaultSorter>
                </th>
                <th style="width: 7%;">
                  <mfDefaultSorter  by="position">Prenoms</mfDefaultSorter>
                </th>
                <th style="width: 7%;">
                  <mfDefaultSorter  by="position">Numéro de téléphone</mfDefaultSorter>
                </th>
                <th style="width: 7%;">
                  <mfDefaultSorter  by="position">Actions</mfDefaultSorter>
                </th>
                
              </tr>
              <tr>
              </tr>
              </thead>
              <tbody>
              <tr #tr *ngFor="let item of mf.data; let i = index;"  >
                
                <td>{{item.created_at | date: 'dd/MM/yyyy à hh:mm:ss' }}</td>
                <td>{{(item.r_type_person === 1 )? 'Persone Physique' : 'Personne Morale'}}</td>
                <td>{{item.r_nom}}</td>
                <td>{{item.r_prenoms}}</td>
                <td>{{ item.r_phone }}</td>
                <td>
                  <!-- <button  class="btn btn-primary btn-outline-primary btn-icon ripple" (click)="modalLarge.show();showDetailsClient(item,'edit')"><i class="icofont icofont-ui-edit"></i></button>&nbsp; -->
                  <button title="Consultation des informations de {{item.r_nom}} {{item.r_prenoms}}" class="btn btn-info btn-outline-info btn-icon ripple" (click)="showDetailsClient(item,'consult');modalLarge.show();" ><i class="icofont icofont-info-square"></i></button>&nbsp;
                  <button title="Voir les factures de {{item.r_nom}} {{item.r_prenoms}}" class="btn btn-warning btn-outline-warning btn-icon ripple"><i class="icofont icofont-paper"></i></button>
              </td>
              </tr>
              </tbody>
              <tfoot>
              
              <tr>
                <td colspan="6">
                  <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
     
    </div>
   </app-card>
 </ng-template>


 <!-- modal large-->
<app-modal-basic #modalLarge [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <button type="button" class="close basic-close" (click)="modalLarge.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    
    <form [formGroup]="formDetailsClient" >

      <div class="form-group row">
        <div class="col-sm-6">
          <label class="col-form-label">Nom </label>
            <input type="text" class="form-control" formControlName="p_nom" [value]="detailsClient.r_nom" >
            <span class="messages"></span>
        </div>

        <div class="col-sm-6">
          <label class="col-form-label">Prenoms </label>
            <input type="text" class="form-control" formControlName="p_prenoms" [value]="detailsClient.r_prenoms" >
            <span class="messages"></span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <label class="col-form-label">Numéro de téléphone </label>
            <input type="text" class="form-control" formControlName="p_phone" [value]="detailsClient.r_phone" >
            <span class="messages"></span>
        </div>

        <div class="col-sm-6">
          <label class="col-form-label">Adresse email </label>
            <input type="text" class="form-control" formControlName="p_email" [value]="detailsClient.r_email" >
            <span class="messages"></span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <label class="col-form-label">Description </label>
            <textarea  class="form-control" id="" rows="3" formControlName="p_description" [value]="detailsClient.r_description"></textarea>
        </div>
      </div>

    </form>

  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default ripple" (click)="modalLarge.hide()">Fermer</button>
  </div>
</app-modal-basic>

